.btn {
    color: rgb(0, 0, 0);
    background-color: rgb(209, 198, 198);
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
}

.btn:hover {
    background-color: rgb(182, 178, 178);
}

.trending-container {
    padding: 25px 50px;
}

.reanding-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reanding-header h1 {
color: white;
    margin-top: 0;
}

.trending-container span {
    color: #ee626b;
    text-transform: uppercase;
    font-size: 14px;

}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 3px 25px;
    align-items: center;

}

.card-info img {
    width: 60px;
}

.card {
    height: 240px;
    width: 380px;
    background-color: #979393;
    border-radius: 20px;
}
.card:hover
{
    height: 260px;
    width: 380px;
    background-color: #979393;
    border-radius: 20px;
       transition-property: background-image;
    transition-duration: 2s;
}

.card .thumb {
    border-radius: 20px 20px 0 0;
}

.trending-cards {
    display: flex;
    gap: 12px;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
.mm {
    background-color: rgb(136, 132, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.link1 {
    color: rgb(5, 5, 5);
    justify-content: center;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px; 
    
    
}
.link1:hover {
    background-color: rgb(95, 91, 91);
}